{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>{{ basics.web_title }}</title>

    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/all.min.css' %}"/>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'vendors/swiper/swiper.css' %}"/>

    <!-- Magnific-Popup CSS -->
    <link rel="stylesheet" href="{% static 'vendors/magnific-popup/magnific-popup.css' %}"/>

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>

</head>
<body>


<!-------------------- Scroll-Top Area (Start) -------------------->
<a href="#home" class="scroll-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-------------------- Scroll-Top Area (End) -------------------->


<!-------------------- Header Area (Start) -------------------->
<header class="header">

    <!-- Logo -->
    <a class="logo" href="#home">
        <h2> From concept to clean code </h2>
        <!-- <img src="assets/images/logo.png" alt="logo" /> -->
    </a>
    <!-- Logo End -->

    <!-- Navbar -->
    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#project">project</a>
        <a href="#education">education</a>
        <a href="#contact">contact</a>
    </nav>

    <!-- Menubar -->
    <div class="fas fa-bars" id="menu-btn"></div>
</header>
<!-------------------- Header Area (End) -------------------->


<!-------------------- Home Area (Start) -------------------->
<section class="home" id="home">

    <div class="box-container">

        <div class="content">
            <div class="text">
                <h2>hi there!</h2>
                <h1>I Am a <span class="typing-text"></span></h1>
                <p>Creative Python and Web Developer offering 2+ years of experience providing high-impact web solutions
                    for
                    different organizations.</p>
                <a href="#" class="btn">about me <i class="fas fa-user"></i></a>
            </div>
        </div>

        <div class="image">
            <img src="{{ basics.avatar.url }}" alt="Home-Image">
        </div>

    </div>

</section>

<!-------------------- Home Area (End) -------------------->


<!-------------------- About Area (Start) -------------------->
<section class="about" id="about">
    <div class="box-container">
        <div class="image">
            <img src="{{ basics.avatar.url }}" alt="portfolio-img">
        </div>
        <div class="content">
            <h2>My name is Parvaneh Yaghoubi.</h2>
            <p>AI and Biomedical Engineer with two years of experience in Python programming, Brain signal processing,
                and Data science. Skilled in developing Machine Learning and Deep Learning models, Django Framework,
                and Data Visualization. Familiar with JavaScript, quick to learn, and a proactive team player focused on
                delivering high-quality results and achieving project success.</p>
            <div class="about-info">
                <div class="info">
                    <h4>age: <span>27</span></h4>
                    <h4>gender: <span>female</span></h4>
                    <h4>language: <span>Farsi, english</span></h4>
                    <h4>work: <span>Freelancer</span></h4>
                    <h4>freelance: <span>available</span></h4>
                    {#                    <a href="#" class="btn">download CV <i class="fas fa-download"></i></a>#}
                </div>
                <div class="counting">
                    <div class="box">
                        <h1 class="count" data-count="2">2+</h1>
                        <h3>years of experience</h3>
                    </div>
                    <div class="box">
                        <h1 class="count" data-count="10">10+</h1>
                        <h3>projects completed</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-container">
        <div class="heading">
            <h2>my <span>skills</span></h2>
        </div>
        <div class="skills">
            <div class="skill-item item1">
                {% for skill in skills %}
                    <div class="box">
                        <div class="progress-container">
                            <h3>{{ skill.title }}<span> {{ skill.percent }}% </span></h3>
                            <div style="width: 100%; background: #222222; border-radius: 10px; overflow: hidden; height: 12px;">
                                <div style="width: {{ skill.percent }}%; background: #bc8cf2; height: 100%;
                                        transition: width 0.5s;"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="skill-item item2">
                {% for skill in skills_2 %}
                    <div class="box">
                        <div class="progress-container">
                            <h3>{{ skill.title }}<span> {{ skill.percent }}% </span></h3>
                            <div style="width: 100%; background: #222222; border-radius: 10px; overflow: hidden; height: 12px;">
                                <div style="width: {{ skill.percent }}%; background: #bc8cf2; height: 100%;
                                        transition: width 0.5s;"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-------------------- About Area (End) -------------------->

<!-------------------- Project Area (Start) -------------------->
<section class="service" id="project">
    <div class="heading">
        <h2>my <span>projects</span></h2>
    </div>
    <div class="box-container">
        {% for project in projects %}
            <div class="service-item">
                <a href="{{ project.link }}">
                    <i class="{{ project.icon }}"></i>
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.text }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
<!-------------------- Project Area (End) -------------------->

<br>
<!-------------------- Education Area (Start) -------------------->
<section class="qualification" id="education">
    <div class="heading">
        <h2>my <span>education</span></h2>
    </div>
    <div class="box-container">
        <div class="education">
            {% for academic in academics %}
                <div class="experience-item">
                    <i class="{{ academic.icon }}"></i>
                    <div class="content">
                        <span>{{ academic.year }}</span>
                        <h3>{{ academic.title }}</h3>
                        <p>{{ academic.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-------------------- Education Area (End) -------------------->


<!-------------------- Certificate Area (Start) -------------------->
<section class="portfolio">
    <div class="heading">
        <h2>my <span>certificates</span></h2>
    </div>
    <div class="gallery">
        <div class="box-container">
            {% for certificate in certificates %}
                <div class="portfolio-item image web">
                    <img src="{{ certificate.featured_image.url }}"/>
                    <div class="content">
                        <h4 style="text-align: center">{{ certificate.title }}</h4>
                        <p style="font-size: large;"><strong>{{ certificate.text | safe }}</strong></p>
                        <br>
                        <p style="font-size: large;">{{ certificate.date }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-------------------- Certificate Area (End) -------------------->


<!-------------------- Contact Area (Start) -------------------->
<section class="contact" id="contact">

    <div class="heading">
        <h2><span>contact</span> me</h2>
    </div>

    <div class="box-container">

        <div class="contact-info">

            <h3>get in touch</h3>
            <p style="color: #bc8cf2">Let's connect and create something great!</p>
            {% for information in informations %}
                <div class="info-item">
                    <h4>Phone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p style="color: #bc8cf2">{{ information.phone }}</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail" style="color: #bc8cf2">{{ information.email }}</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin"><a href="{{ information.linkedin }}" style="color: #bc8cf2">LinkedIn</a></p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github"><a href="{{ information.github }}" style="color: #bc8cf2">GitHub</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p>
           {% if sent %}
                Sent Successfully👍
            {% endif %}
        </p>
        {% if form.errors %}
            <ul class="errorlist">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" class="contact-form" id="contactUs-Form">
            {% csrf_token %}

{#            <label for="name"></label>#}
            <input type="text" name="name" class="box" id="name" placeholder="name" required/>
{#            <label for="email"></label>#}
            <input type="email" name="email" class="box" id="email" placeholder="email" required/>
{#            <label for="subject"></label>#}
            <input type="text" name="subject" class="box" id="subject" placeholder="subject" required/>
{#            <label for="comment"></label>#}
            <textarea cols="30" rows="10" name="message" id="comment" class="box" placeholder="message" required></textarea>
            <button type="submit" class="btn" name="submit" id="submit">send message</button>

            <span class="alert" id="msg"></span>
        </form>
    </div>

</section>
<!-------------------- Contact Area (End) -------------------->


<!-------------------- Footer Area (Start) -------------------->
<footer>
    <div class="social">
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin-in"></a>
    </div>

    <div class="content">
        <p>created by <span>{{ basics.web_title }}</span> | all rights reserved</p>
    </div>
</footer>
<!-------------------- Footer Area (End) -------------------->


<!-- JQuery -->
<script src="{% static 'vendors/jquery/jquery-3.6.0.js' %}"></script>

<!-- SWIPER JS -->
<script src="{% static 'vendors/swiper/swiper.js' %}"></script>

<!-- Magnific-Popup JS -->
<script src="{% static '/vendors/magnific-popup/jquery.magnific-popup.js' %}"></script>

<!-- Typed JS -->
<script src="{% static 'vendors/typed/typed.js' %}"></script>

<!-- Custom Script File -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/scroll-spy.js' %}"></script>
<script src="{% static 'js/counter-up.js' %}"></script>
<script src="{% static 'js/portfolio.js' %}"></script>
<script src="{% static 'js/testi-slider.js' %}"></script>
<script src="{% static 'js/blog-slider.js' %}"></script>

<!---------------- Custom Script ---------------->

<!-- Typed Script -->
<script>
    var typed = new Typed('.typing-text', {

        strings: ['Python Developer', 'Web Developer', 'Data Scientist'],
        typeSpeed: 120,
        loop: true
    });
</script>

<!-- Contact-Form Script -->
<script>
    jQuery('#contactUs-Form').on('submit', function (e) {
        jQuery('#msg').html('');
        jQuery('#submit').html('Please wait');
        jQuery('#submit').attr('disabled', true);
        jQuery.ajax({
            url: '{% static 'php/submit.php' %}',
            type: 'post',
            data: jQuery('#contactUs-Form').serialize(),
            success: function (result) {
                jQuery('#msg').html(result);
                jQuery('#submit').html('Submit');
                jQuery('#submit').attr('disabled', false);
                jQuery('#contactUs-Form')[0].reset();
            }
        });
        e.preventDefault();
    });
</script>
</body>
</html>